/* .enemy1, .player{
    transition-property: left,top;
    transition-duration: 250ms;
    
    background-size: 100%;
    position: relative;
}

.enemy1{
    background-image: url(/images/Starships/Enemy_Ship_1.png);
}

.player{
    background-image: url(/images/Starships/Hero_Ship.png);
}

.enemy1_bullet{
    background-image: url(/images/Shots/Enemy_Shot_1.png);
}


.player_bullet{
    background-image: url(/images/Shots/Hero_Shot.png);
    transition-property: left, top;
    transition-duration: 150ms;
    
    background-size: 100%;
    position: relative;
} */


.width-one{
    width:60px;
}

.width-two{
    width:120px;
}

.height-one{
    height:60px;
}

.height-two{
    height:120px;
}

.entity{
    background-size: 100%;
    position: absolute;
    
    transition-property: left,top;
    transition-duration: 200ms;
}

.hero{
    background-image: url(/images/Starships/Hero_Ship.png);
}

.enemy1{
    background-image: url(/images/Starships/Enemy_Ship_3.png);
}

.enemy2{
    background-image: url(/images/Starships/Enemy_Ship_2.png);
}

.enemy3{
    background-image: url(/images/Starships/Enemy_Ship_1.png);
}

.enemy4{
    background-image: url(/images/Starships/Enemy_Ship_4.png);
}

.bullet-hero{
    background-image: url(/images/Shots/Hero_Shot.png);
}

.bullet-enemy1{
    background-image: url(/images/Shots/Enemy_Shot_1.png);
}

.bullet-enemy2{
    opacity:20%;
    background-image: url(/images/Shots/Enemy_Shot_3.png);
}

.bullet-enemy3{
    background-image: url(/images/Shots/Enemy_Shot_2.png);
}

.bullet-enemy4{
    background-image: url(/images/Shots/Enemy_Shot_4.png);
}

.bonus-heal{
    background-image: url(/images/Bonuses/HP_Bonus.png);
}

.bonus-heroAttackSpeed{
    background-image: url(/images/Bonuses/Attack_Speed_Bonus.png);
}

.bonus-heroMoveSpeed{
    background-image: url(/images/Bonuses/Hero_Speed_Bonus.png);
}

.bonus-enemyMoveSpeedDebuff{
    background-image: url(/images/Bonuses/Enemy_Speed_Debuff_Bonus.png);
}




.explosion-1{
    animation-name: animation-explosion-1;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.explosion-2{
    animation-name: animation-explosion-2;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.explosion-3{
    animation-name: animation-explosion-3;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.shot-ray{
    animation-name: animation-shot-ray;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.dying{
    animation-name: animation-dying;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.damagedEnemy{
    animation-name: animation-damaged;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

/* .heroIsDamaged{
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } */

@keyframes animation-damaged{
    from{
        opacity: 100%;
        filter:hue-rotate(0deg);
    }
    50%{
        opacity: 70%;
        filter:hue-rotate(90deg);
    }
    to{
        opacity:100%;
        filter:hue-rotate(0deg);
    }
}


@keyframes animation-dying{
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

@keyframes animation-shot-ray{
    from{
        opacity: 20%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes animation-explosion-1{
    from{
        background-image: url(/images/Explosions/Explosion1/Explosion1_1.png);
    }
    10%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_2.png);
    }
    20%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_3.png);
    }
    30%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_4.png);
    }
    40%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_5.png);
    }
    50%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_6.png);
    }
    60%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_7.png);
    }
    70%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_8.png);
    }
    80%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_9.png);
    }
    90%{
        background-image: url(/images/Explosions/Explosion1/Explosion1_10.png);
    }
    to{
        background-image: url(/images/Explosions/Explosion1/Explosion1_11.png);
    }
}

@keyframes animation-explosion-2{
    from{
        background-image: url(/images/Explosions/Explosion2/Explosion2_1.png);
    }
    10%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_2.png);
    }
    20%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_3.png);
    }
    30%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_4.png);
    }
    40%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_5.png);
    }
    50%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_6.png);
    }
    60%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_7.png);
    }
    70%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_8.png);
    }
    80%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_9.png);
    }
    90%{
        background-image: url(/images/Explosions/Explosion2/Explosion2_10.png);
    }
    to{
        background-image: url(/images/Explosions/Explosion2/Explosion2_11.png);
    }
}

@keyframes animation-explosion-3{
    from{
        background-image: url(/images/Explosions/Explosion3/Explosion3_1.png);
    }
    10%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_2.png);
    }
    20%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_3.png);
    }
    30%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_4.png);
    }
    40%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_5.png);
    }
    50%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_6.png);
    }
    60%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_7.png);
    }
    70%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_8.png);
    }
    80%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_9.png);
    }
    90%{
        background-image: url(/images/Explosions/Explosion3/Explosion3_10.png);
    }
    to{
        background-image: url(/images/Explosions/Explosion3/Explosion3_11.png);
    }
}