html {
    height: 100%;
}

body {
    margin: 0;
    /* background-image: url("/images/Game_Field_Background.png"); */
    
    font-size: 20px !important;
    font-family: Arial !important;
    color:#ffb23a !important;
    line-height: 1.3em;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* backdrop-filter: blur(2px); */

    /* animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite; */

}

#background{
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/Game_Field_Background.png");

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


#screenForDamagingHero{
    z-index: -2000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0%;

    
}

.heroIsDamaged{
    animation-name: animation-hero-damaged;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes animation-hero-damaged{
    from{
        opacity: 0%;
    }
    50%{
        opacity: 65%;
    }
    to{
        opacity: 0%;
    }
}

@keyframes floating{
    from{
        filter:hue-rotate(0) blur(1.75px);
        
    }
    25%{
        filter:hue-rotate(50deg) blur(1px);
    }
    50%{
        
        filter:hue-rotate(0) blur(1.75px);
    }
    75%{
        filter:hue-rotate(-50deg) blur(1px);
    }
    to{
        filter:hue-rotate(0) blur(1.75px);
    }
}

.header {
    
    z-index: 5;
    flex: 0 0 auto;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-theme{
    background: #241400 !important;
    color:#ffb23a !important;
}

.color-theme-border{
    border: 3px solid #ffb23a;
    border-radius: 20px;
}
#logo {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 10px;
}

/* header>div {
    box-sizing: border-box;
    margin-left: 20px;
} */

#main_div {
    z-index: 3;
    flex: 1 0 auto;
}

#sidebar {
    background: #044972;
    width: 100%;
}

/* #sidebar > a{
    padding-left: 20px;
    padding-top: 20px;
} */

#content{
    height: 100%;
    /* width: calc(100% - 400px); */
    display: flex;
}

@media (min-width: 768px) { 
    #sidebar {
        width: 400px;
    }
    #content{
        width: calc(100% - 400px);
    }
 }
 