html {
    height: 100%;
}

body {
    margin: 0;
    background-image: url("/images/Game_Field_Background.png");
    
    font-size: 20px !important;
    font-family: Arial !important;
    color:#ffb23a !important;
    line-height: 1.3em;
    height: 100%;
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(2px);
}

.header {
    
    z-index: 5;
    flex: 0 0 auto;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-theme{
    background: #241400;
    color:#ffb23a;
}
#logo {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 10px;
}

/* header>div {
    box-sizing: border-box;
    margin-left: 20px;
} */

#main_div {
    z-index: 3;
    flex: 1 0 auto;
}

#sidebar {
    background: #044972;
    width: 100%;
}

/* #sidebar > a{
    padding-left: 20px;
    padding-top: 20px;
} */

#content{
    height: 100%;
    /* width: calc(100% - 400px); */
    display: flex;
}

@media (min-width: 768px) { 
    #sidebar {
        width: 400px;
    }
    #content{
        width: calc(100% - 400px);
    }
 }
 